College-SOAP-shop/WebClient/web/WEB-INF/wsdl/localhost_8080/AOSTienda_services/CatalogService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.0-1 (tags/2.2.0u1-7139; 2012-06-02T10:55:19+0000) JAXWS-RI/2.2.6-2 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://Services/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Services/">

<xs:element name="getCatalog" type="tns:getCatalog"/>

<xs:element name="getCatalogResponse" type="tns:getCatalogResponse"/>

<xs:complexType name="getCatalog">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCatalogResponse">
<xs:sequence>
<xs:element name="return" type="tns:articulo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="articulo">
<xs:sequence>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio_E" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>